openapi: 3.0.0
info:
  title: Integração
  version: '1.0'
  contact:
    name: Carlos Tirabassi
    email: carlos@bitize.com.br
  description: API de integração do backend do Bitize
servers:
  - url: 'https://api.bitize.com.br'
    description: Produção
  - url: 'https://api-tst.bitize.com.br'
    description: Testes
paths:
  /auth:
    get:
      summary: Refresh Token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: Token de acesso
                  refresh_token:
                    type: string
                    description: Refresh token
                  expiration_access_token:
                    type: string
                    description: Data de expiração do token de acesso
                    format: date-time
                  expiration_refresh_token:
                    type: string
                    description: Data de expiração do refresh token
                    format: date-time
              examples:
                Exemplo de retorno:
                  value:
                    access_token: eyJhbGcFOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyApZCI6IjI1NGJjMGU4LWU5NTMtNDRkZS05ZTUELTI0YWNiYTM1MDAyZiIsImlhdCI6MTYBMTk1MjI1OSwiZXhwIjoxNjEyMDM4NjU5fQ.hQL7SANKEVjepTgoPaBk6h0vZLOdu4tnVC6BIa3gQO0
                    refresh_token: eyJhbGcAOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJAZCI6IjI1NGJjMGU4LWU5NTMtNDRkZS05ZTUDLTa0YWNiYTM1MDAyZiIsImlhdCI6MXYxMTk1MjI1OSwiZXhwIjoxNjEyMTI1MDU5fQ.KdCuLqxBFxNaXwHgfjmyWd8X6BTAcpbCoCuRcnRGBxg
                    expiration_access_token: '2021-01-30T20:30:59.058Z'
                    expiration_refresh_token: '2021-01-31T20:30:59.058Z'
        '400':
          $ref: '#/components/responses/400'
      operationId: get-auth
      description: Endpoint para obtenção de um novo token através de um refresh token válido
      parameters:
        - schema:
            type: string
          in: query
          name: refresh_token
          description: Refresh token
          required: true
      security: []
      tags:
        - Autenticação
    post:
      summary: Token
      operationId: post-auth
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: Token de acesso
                  refresh_token:
                    type: string
                    description: Refresh token
                  expiration_access_token:
                    type: string
                    description: Data de expiração do token de acesso
                    format: date-time
                  expiration_refresh_token:
                    type: string
                    description: Data de expiração do refresh token
                    format: date-time
              examples:
                Exemplo de retorno:
                  value:
                    access_token: eyJhbGcFOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyApZCI6IjI1NGJjMGU4LWU5NTMtNDRkZS05ZTUELTI0YWNiYTM1MDAyZiIsImlhdCI6MTYBMTk1MjI1OSwiZXhwIjoxNjEyMDM4NjU5fQ.hQL7SANKEVjepTgoPaBk6h0vZLOdu4tnVC6BIa3gQO0
                    refresh_token: eyJhbGcAOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJAZCI6IjI1NGJjMGU4LWU5NTMtNDRkZS05ZTUDLTa0YWNiYTM1MDAyZiIsImlhdCI6MXYxMTk1MjI1OSwiZXhwIjoxNjEyMTI1MDU5fQ.KdCuLqxBFxNaXwHgfjmyWd8X6BTAcpbCoCuRcnRGBxg
                    expiration_access_token: '2021-01-30T20:30:59.058Z'
                    expiration_refresh_token: '2021-01-31T20:30:59.058Z'
        '400':
          $ref: '#/components/responses/400'
      description: Endpoint para obtenção do token de acesso a API
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                consumer_key:
                  type: string
                  description: Chave de consumo do API
                  format: uuid
                secret_key:
                  type: string
                  description: Chave secreta de acesso a API
              required:
                - consumer_key
                - secret_key
            examples:
              Exemplo:
                value:
                  consumer_key: 15aa5a99-b27e-48ab-8076-7da9059337cb
                  secret_key: EaExPlO1234@#$1qsdeRqas4
        description: ''
      parameters:
        - $ref: '#/components/parameters/Content-Type'
      security: []
      tags:
        - autenticação
    parameters: []
  /vendors:
    get:
      summary: Listar Fornecedores
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  paging:
                    type: object
                    properties:
                      limit:
                        type: number
                      page:
                        type: number
                      pages:
                        type: number
                      total:
                        type: number
                  sort:
                    type: array
                    items:
                      type: object
                  available_filters:
                    type: array
                    items:
                      type: object
                  applied_filters:
                    type: object
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        external_id: {}
                        active:
                          type: boolean
                        notes: {}
                        created_at:
                          type: string
                          minLength: 1
                        updated_at:
                          type: string
                          minLength: 1
                        deleted_at: {}
                        company_id:
                          type: string
                          minLength: 1
                        customer_id:
                          type: string
                          minLength: 1
                        company:
                          type: object
                          properties:
                            id:
                              type: string
                              minLength: 1
                            name:
                              type: string
                              minLength: 1
                            company_name:
                              type: string
                            external_id: {}
                            national_document:
                              type: string
                              minLength: 1
                            state_document: {}
                            municipal_document: {}
                            country_id:
                              type: string
                              minLength: 1
                            state_iso:
                              type: string
                              minLength: 1
                            active:
                              type: boolean
                            situation:
                              type: string
                              minLength: 1
                            situation_date:
                              type: string
                              minLength: 1
                            opening:
                              type: string
                              minLength: 1
                            portuguese_description: {}
                            english_description: {}
                            spanish_description: {}
                            keywords: {}
                            localizable:
                              type: boolean
                            homologation_level:
                              type: string
                              minLength: 1
                            main_activity_code:
                              type: string
                              minLength: 1
                            main_activity:
                              type: string
                              minLength: 1
                            date_special_situation:
                              type: string
                              minLength: 1
                            special_situation:
                              type: string
                            last_update:
                              type: string
                              minLength: 1
                            logo_id:
                              type: string
                              minLength: 1
                            status:
                              type: string
                              minLength: 1
                            person:
                              type: string
                              minLength: 1
                            created_at:
                              type: string
                              minLength: 1
                            updated_at:
                              type: string
                              minLength: 1
                            deleted_at: {}
                            addresses:
                              type: array
                              uniqueItems: true
                              minItems: 1
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    minLength: 1
                                  external_id: {}
                                  type:
                                    type: string
                                    minLength: 1
                                  country_id:
                                    type: string
                                    minLength: 1
                                  postal_code:
                                    type: string
                                    minLength: 1
                                  state_iso:
                                    type: string
                                    minLength: 1
                                  city:
                                    type: string
                                    minLength: 1
                                  ibge:
                                    type: string
                                    minLength: 1
                                  neighborhood:
                                    type: string
                                    minLength: 1
                                  street:
                                    type: string
                                    minLength: 1
                                  number:
                                    type: string
                                    minLength: 1
                                  complement:
                                    type: string
                                  notes: {}
                                  created_at:
                                    type: string
                                    minLength: 1
                                  updated_at:
                                    type: string
                                    minLength: 1
                                  deleted_at: {}
                                  company_id:
                                    type: string
                                    minLength: 1
                                required:
                                  - id
                                  - type
                                  - country_id
                                  - postal_code
                                  - state_iso
                                  - city
                                  - ibge
                                  - neighborhood
                                  - street
                                  - number
                                  - complement
                                  - created_at
                                  - updated_at
                                  - company_id
                            contacts:
                              type: array
                              uniqueItems: true
                              minItems: 1
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    minLength: 1
                                  external_id: {}
                                  type:
                                    type: string
                                    minLength: 1
                                  title:
                                    type: string
                                    minLength: 1
                                  country_area_code:
                                    type: string
                                    minLength: 1
                                  phone:
                                    type: string
                                    minLength: 1
                                  extension: {}
                                  email:
                                    type: string
                                    minLength: 1
                                  notes: {}
                                  created_at:
                                    type: string
                                    minLength: 1
                                  updated_at:
                                    type: string
                                    minLength: 1
                                  deleted_at: {}
                                  company_id:
                                    type: string
                                    minLength: 1
                                required:
                                  - id
                                  - type
                                  - title
                                  - country_area_code
                                  - phone
                                  - email
                                  - created_at
                                  - updated_at
                                  - company_id
        '401':
          $ref: '#/components/responses/401'
      operationId: get-vendors
      description: Lista os fornecedores cadastrados
      security:
        - Access Token: []
      parameters:
        - $ref: '#/components/parameters/Content-Type'
      tags:
        - Fornecedores
    parameters: []
    post:
      summary: Cadastrar Fornecedor
      operationId: post-vendors
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
      description: Cadastro de fornecedores
      security:
        - Access Token: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                national_document:
                  type: string
                  minLength: 1
                country_id:
                  type: string
                  minLength: 1
              required:
                - national_document
                - country_id
      tags:
        - fornecedores
      parameters:
        - $ref: '#/components/parameters/Content-Type'
  '/vendors/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: ID do Fornecedor
    get:
      summary: Dados do Fornecedor
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                    format: uuid
                    description: ID do Fornecedor
                  external_id:
                    type: string
                    description: Identificação customizada do cadastro
                  active:
                    type: boolean
                    description: Registro ativo
                  notes:
                    type: string
                    description: Observações
                  created_at:
                    type: string
                    minLength: 1
                    description: Data do cadastro
                  updated_at:
                    type: string
                    minLength: 1
                    description: Data da atualização
                  deleted_at:
                    type: string
                    description: Data da exclusão
                  company_id:
                    type: string
                    minLength: 1
                    format: uuid
                    description: ID da Empresa
                  customer_id:
                    type: string
                    minLength: 1
                    format: uuid
                    description: ID do Cliente
                  company:
                    type: object
                    required:
                      - contacts
                    description: Dados da empresa no Bitize
                    properties:
                      name:
                        type: string
                        minLength: 1
                        description: Razão Social
                      company_name:
                        type: string
                        minLength: 1
                        description: Nome Fantasia
                      national_document:
                        type: string
                        minLength: 1
                        description: CNPJ
                      state_document:
                        type: string
                        description: Inscrição estadual
                      municipal_document:
                        type: string
                        description: Inscrição municipal
                      country_id:
                        type: string
                        minLength: 1
                        description: Código do país
                      state_iso:
                        type: string
                        minLength: 1
                        description: UF
                      active:
                        type: boolean
                        description: Empresa ativa na plataforma
                      situation:
                        type: string
                        minLength: 1
                        description: Situação na Sefaz
                      situation_date:
                        type: string
                        minLength: 1
                        description: Data da situação na Sefaz
                      opening:
                        type: string
                        minLength: 1
                        description: Data de abertura da empresa
                      portuguese_description:
                        type: string
                        description: Descrição da Empresa em português
                      english_description:
                        type: string
                        description: Descrição da Empresa em inglês
                      spanish_description:
                        type: string
                        description: Descrição da Empresa em espanhol
                      homologation_level:
                        type: string
                        minLength: 1
                        description: Nível de homologação na plataforma
                      main_activity_code:
                        type: string
                        minLength: 1
                        description: Código da atividade
                      main_activity:
                        type: string
                        minLength: 1
                        description: Atividade
                      date_special_situation:
                        type: string
                        minLength: 1
                        description: Data da situação especial na Sefaz
                      special_situation:
                        type: string
                        description: Situação especial
                      last_update:
                        type: string
                        minLength: 1
                        description: Última atualização na SEFAZ
                      status:
                        type: string
                        minLength: 1
                        description: Status na SEFAZ
                      person:
                        type: string
                        minLength: 1
                        description: Tipo de Pessoa
                        enum:
                          - 'L: Pessoa Jurídica'
                          - 'N: Pessoa Física'
                      created_at:
                        type: string
                        minLength: 1
                        description: Data do cadastro na plataforma
                      updated_at:
                        type: string
                        minLength: 1
                        description: Data da atualização na plataforma
                      deleted_at:
                        type: string
                        description: Data da exclusão na plataforma
                      addresses:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        description: Endereços
                        items:
                          type: object
                          description: Endereço
                          properties:
                            id:
                              type: string
                              minLength: 1
                            external_id: {}
                            type:
                              type: string
                              minLength: 1
                            country_id:
                              type: string
                              minLength: 1
                            postal_code:
                              type: string
                              minLength: 1
                            state_iso:
                              type: string
                              minLength: 1
                            city:
                              type: string
                              minLength: 1
                            ibge:
                              type: string
                              minLength: 1
                            neighborhood:
                              type: string
                              minLength: 1
                            street:
                              type: string
                              minLength: 1
                            number:
                              type: string
                              minLength: 1
                            complement:
                              type: string
                              minLength: 1
                            notes: {}
                            created_at:
                              type: string
                              minLength: 1
                            updated_at:
                              type: string
                              minLength: 1
                            deleted_at: {}
                            company_id:
                              type: string
                              minLength: 1
                          required:
                            - id
                            - type
                            - country_id
                            - postal_code
                            - state_iso
                            - city
                            - ibge
                            - neighborhood
                            - street
                            - number
                            - complement
                            - created_at
                            - updated_at
                            - company_id
                      contacts:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              minLength: 1
                            external_id: {}
                            type:
                              type: string
                              minLength: 1
                            title:
                              type: string
                              minLength: 1
                            country_area_code:
                              type: string
                              minLength: 1
                            phone:
                              type: string
                              minLength: 1
                            extension: {}
                            email:
                              type: string
                              minLength: 1
                            notes: {}
                            created_at:
                              type: string
                              minLength: 1
                            updated_at:
                              type: string
                              minLength: 1
                            deleted_at: {}
                            company_id:
                              type: string
                              minLength: 1
                          required:
                            - id
                            - type
                            - title
                            - country_area_code
                            - phone
                            - email
                            - created_at
                            - updated_at
                            - company_id
                      logo_id:
                        type: string
                        description: ID do logo
                        format: uuid
              examples:
                example-1:
                  value:
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                    external_id: string
                    active: true
                    notes: string
                    created_at: string
                    updated_at: string
                    deleted_at: string
                    company_id: b2e6a1c3-1a5e-44ae-a8fd-81f76fd715cf
                    customer_id: 160c0c4b-9966-4dc1-a916-8407eb10d74e
                    company:
                      name: string
                      company_name: string
                      national_document: string
                      state_document: string
                      municipal_document: string
                      country_id: string
                      state_iso: string
                      active: true
                      situation: string
                      situation_date: string
                      opening: string
                      portuguese_description: string
                      english_description: string
                      spanish_description: string
                      homologation_level: string
                      main_activity_code: string
                      main_activity: string
                      date_special_situation: string
                      special_situation: string
                      last_update: string
                      status: string
                      person: 'L: Pessoa Jurídica'
                      created_at: string
                      updated_at: string
                      deleted_at: string
                      addresses:
                        - id: string
                          external_id: null
                          type: string
                          country_id: string
                          postal_code: string
                          state_iso: string
                          city: string
                          ibge: string
                          neighborhood: string
                          street: string
                          number: string
                          complement: string
                          notes: null
                          created_at: string
                          updated_at: string
                          deleted_at: null
                          company_id: string
                      contacts:
                        - id: string
                          external_id: null
                          type: string
                          title: string
                          country_area_code: string
                          phone: string
                          extension: null
                          email: string
                          notes: null
                          created_at: string
                          updated_at: string
                          deleted_at: null
                          company_id: string
                      logo_id: 1e12da27-d253-43f5-9f73-dd2101ceac0d
        '400':
          description: Bad Request
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-vendors-id
      description: Retorna os dados do fornecedor
      security:
        - Access Token: []
      tags:
        - Fornecedores
    put:
      summary: Atualizar Fornecedor
      operationId: put-vendors-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      description: Atualizar cadastro de fornecedor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company'
      tags:
        - fornecedores
  /users:
    get:
      summary: Listar Usuários
      tags:
        - Usuários
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  paging:
                    type: object
                    properties:
                      limit:
                        type: number
                      page:
                        type: number
                      pages:
                        type: number
                      total:
                        type: number
                  sort:
                    type: array
                    items:
                      type: object
                  available_filters:
                    type: array
                    items:
                      type: string
                  applied_filters:
                    type: object
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      $ref: '#/components/schemas/User'
                required:
                  - data
              examples: {}
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      operationId: get-users
      security:
        - Access Token: []
      description: Lista os usuários cadastrados na plataforma
    post:
      summary: Cadastrar Usuário
      operationId: post-users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      security:
        - Access Token: []
      parameters:
        - $ref: '#/components/parameters/Content-Type'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
            examples: {}
        description: ''
      description: Cadastra usuários na plataforma
      tags:
        - Usuários
  '/users/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Dados do Usuário
      tags:
        - Usuários
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-users-id
      description: Retorna os dados do usuário
      security:
        - Access Token: []
    put:
      summary: Atualizar Usuário
      operationId: put-users-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      description: Atualiza dados do usuário
      security:
        - Access Token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      tags:
        - Usuários
    delete:
      summary: Excluir Usuário
      operationId: delete-users-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./Delete.v1.yaml
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      description: Exclui o usuário
      security:
        - Access Token: []
      tags:
        - Usuários
  /approval-profiles:
    get:
      summary: Lista Perfis de Aprovação
      tags:
        - Perfil de Aprovação
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  paging:
                    $ref: '#/components/schemas/Paging'
                  sort:
                    $ref: '#/components/schemas/Sort'
                  available_filters:
                    $ref: '#/components/schemas/AvailableFilters'
                  applied_filters:
                    $ref: '#/components/schemas/AppliedFilters'
                  data:
                    type: array
                    items:
                      $ref: ''
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      operationId: get-approval-profiles
      security:
        - Access Token: []
      description: Lista os perfis de aprovação cadastrados na plataforma
      parameters:
        - $ref: '#/components/parameters/Sort'
    parameters: []
    post:
      summary: Cadastrar Perfil de Aprovação
      operationId: post-approval-profiles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalProfile'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalProfile'
        description: ''
      description: Cadastro de perfil de aprovação
      security:
        - Access Token: []
      parameters:
        - $ref: '#/components/parameters/Content-Type'
      tags:
        - Perfil de Aprovação
  '/approval-profiles/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: ID do perfil de aprovação
    get:
      summary: Dados do Perfil de Aprovação
      tags:
        - Perfil de Aprovação
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalProfile'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: get-approval-profiles-id
      security:
        - Access Token: []
      description: Busca os dados do perfil de aprovação
    put:
      summary: Atualizar Perfil de Aprovação
      operationId: put-approval-profiles-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalProfile'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - Access Token: []
      parameters:
        - $ref: '#/components/parameters/Content-Type'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalProfile'
      description: Atualizar dados do perfil de aprovação
      tags:
        - Perfil de Aprovação
    delete:
      summary: Excluir Perfil de Aprovação
      operationId: delete-approval-profiles-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./Delete.v1.yaml
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - Access Token: []
      description: Exclui o perfil de aprovação
      tags:
        - Perfil de Aprovação
components:
  schemas:
    CompanyAddress:
      description: Modelo de endereço da empresa no Bitize
      type: object
      x-examples:
        Exemplo:
          id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
          external_id: string
          type: string
          country_id: string
          postal_code: string
          state_iso: string
          city: string
          ibge: string
          neighborhood: string
          street: string
          number: string
          complement: string
          notes: string
          created_at: string
          updated_at: string
          deleted_at: string
          company_id: string
      title: Endereços da Empresa
      properties:
        id:
          type: string
          minLength: 1
          format: uuid
          description: Id do endereço
          readOnly: true
        external_id:
          type: string
          description: Identificador customizado
        type:
          type: string
          minLength: 1
          description: Tipo de endereço
        country_id:
          type: string
          minLength: 1
          description: Código do País
        postal_code:
          type: string
          minLength: 1
          description: CEP
        state_iso:
          type: string
          minLength: 1
          description: UF
        city:
          type: string
          minLength: 1
          description: Cidade
        ibge:
          type: string
          minLength: 1
          description: Código IBGE
        neighborhood:
          type: string
          minLength: 1
          description: Bairro
        street:
          type: string
          minLength: 1
          description: Rua
        number:
          type: string
          minLength: 1
          description: Número
        complement:
          type: string
          minLength: 1
          description: Complemento
        notes:
          type: string
          description: Observação
        created_at:
          type: string
          minLength: 1
          description: Data do cadastro
          format: date-time
          readOnly: true
        updated_at:
          type: string
          minLength: 1
          description: Data da atualização
          format: date-time
          readOnly: true
        deleted_at:
          type: string
          minLength: 1
          description: Data da exclusão
          format: date-time
          readOnly: true
        company_id:
          type: string
          minLength: 1
          description: ID da empresa
          format: uuid
      required:
        - type
        - country_id
        - postal_code
        - state_iso
        - city
        - neighborhood
        - street
        - number
        - company_id
    CompanyContact:
      description: Modelo de contato da empresa no Bitize
      type: object
      x-examples:
        Exemplo:
          id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
          external_id: string
          type: string
          title: string
          country_area_code: string
          phone: string
          extension: string
          email: string
          notes: string
          created_at: string
          updated_at: string
          deleted_at: string
          company_id: b2e6a1c3-1a5e-44ae-a8fd-81f76fd715cf
      properties:
        id:
          type: string
          minLength: 1
          format: uuid
          description: Id do contato
          readOnly: true
        external_id:
          type: string
          description: Identificador customizado
        type:
          type: string
          minLength: 1
          description: Tipo de contato
        title:
          type: string
          minLength: 1
          description: Título
        country_area_code:
          type: string
          minLength: 1
          description: DDI
        phone:
          type: string
          minLength: 1
          description: Telefone com DDD
        extension:
          type: string
          description: Ramal
        email:
          type: string
          minLength: 1
          description: E-mail
        notes:
          type: string
          description: Observações
        created_at:
          type: string
          minLength: 1
          description: Data do cadastro
          format: date-time
          readOnly: true
        updated_at:
          type: string
          minLength: 1
          description: Data da atualização
          format: date-time
          readOnly: true
        deleted_at:
          type: string
          minLength: 1
          description: Data da exclusão
          format: date-time
          readOnly: true
        company_id:
          type: string
          minLength: 1
          format: uuid
          description: Id da empresa
      required:
        - type
        - title
        - email
        - company_id
      title: Contatos da Empresa
    CompanyDocument:
      title: Documentos da Empresa
      type: object
      properties:
        id:
          type: string
      description: Modelo de cadastro de documento da empresa no Bitize
    Company:
      description: Modelo do cadastro de empresa no Bitize
      type: object
      properties:
        id:
          type: string
          minLength: 1
          description: Id da Empresa
          readOnly: true
        name:
          type: string
          minLength: 1
        company_name:
          type: string
          minLength: 1
        external_id:
          type: string
        national_document:
          type: string
          minLength: 1
        state_document:
          type: string
        municipal_document:
          type: string
        country_id:
          type: string
          minLength: 1
        state_iso:
          type: string
          minLength: 1
        active:
          type: boolean
        situation:
          type: string
          minLength: 1
        situation_date:
          type: string
          minLength: 1
        opening:
          type: string
          minLength: 1
        portuguese_description:
          type: string
        english_description:
          type: string
        spanish_description:
          type: string
        keywords:
          type: array
          items:
            type: string
        localizable:
          type: boolean
        homologation_level:
          type: string
          minLength: 1
        main_activity_code:
          type: string
          minLength: 1
        main_activity:
          type: string
          minLength: 1
        date_special_situation:
          type: string
          minLength: 1
        special_situation:
          type: string
        last_update:
          type: string
          minLength: 1
        logo_id: {}
        status:
          type: string
          minLength: 1
        person:
          type: string
          minLength: 1
        created_at:
          type: string
          minLength: 1
          format: date-time
          readOnly: true
        updated_at:
          type: string
          minLength: 1
          format: date-time
          readOnly: true
        deleted_at:
          type: string
          minLength: 1
          format: date-time
          readOnly: true
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/CompanyAddress'
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/CompanyContact'
        documents:
          type: array
          items:
            $ref: '#/components/schemas/CompanyDocument'
      required:
        - name
        - company_name
        - national_document
        - country_id
        - state_iso
        - active
        - situation
        - situation_date
        - opening
        - localizable
        - homologation_level
        - main_activity_code
        - main_activity
        - date_special_situation
        - special_situation
        - last_update
        - status
        - person
      title: Empresas
    User:
      title: Usuários
      type: object
      description: Modelo do cadastro de usuários no Bitize
      properties:
        id:
          type: string
          description: ID do Usuário
          format: uuid
          readOnly: true
        first_name:
          type: string
          description: Primeiro Nome
        last_name:
          type: string
          description: Sobrenome
        email:
          type: string
          description: E-mail
          format: email
        country_area_code:
          type: string
          default: '55'
          description: DDI
        phone:
          type: string
          description: Telefone com o DDD
        extension:
          type: string
          description: Ramal
        active:
          type: boolean
          description: Indica se o usuário está ativo
        customer_id:
          type: string
          description: ID de Cliente da Plataforma
          format: uuid
          readOnly: true
        external_id:
          type: string
          description: Identificação externa
        created_at:
          type: string
          format: date-time
          description: Data do cadastro
          readOnly: true
        updated_at:
          type: string
          format: date-time
          description: Data da atualização
          readOnly: true
        deleted_at:
          type: string
          format: date-time
          description: Data da exclusão
          readOnly: true
        roles:
          type: array
          description: Funções exercidas pelo usuário
          items:
            type: string
            enum:
              - ADMIN
              - SELLER
              - REGISTER
              - REQUESTER
            default: REQUESTER
        password:
          type: string
          minLength: 8
          description: 'Senha, deve conter 8 caracteres, uma maiúscula, uma minúscula, um número e um caractere especial'
          format: password
          writeOnly: true
      required:
        - first_name
        - last_name
        - email
        - roles
        - password
      x-tags:
        - Usuários
    Paging:
      description: Esse objeto é utilido nas listagens de recursos
      type: object
      properties:
        limit:
          type: number
          description: Limite de registros por página
        page:
          type: number
          description: Número da página atual
        pages:
          type: number
          description: Número de páginas
        total:
          type: number
          description: Total de registros
      required:
        - limit
        - page
        - pages
        - total
      title: Paginação
      x-tags:
        - Listagem
      x-examples:
        Exemplo:
          limit: 20
          page: 1
          pages: 1
          total: 10
    Sort:
      title: Ordenação
      type: array
      description: |-
        Exibe a ordem dos registros. Você pode ordenar o resultado das suas requisições de listagem utilizando o parâmetro "sort". Exemplo de uso:

        GET /approval-profiles?sort=title-desc,external_id

        Nesse exemplo estamos ordendando dois campos: "title" e "external_id", para isso basta utilizar a vírgula para separar os nomes dos campos e para determinar se a ordenação é crescente ou decrecente basta utilizar o hífen depois do nome do campo e informar 'asc' para ascendente e 'desc' para decrecente.
      items:
        type: object
        properties:
          field:
            type: string
            description: Campo
          sort:
            type: string
            description: Ordem
            enum:
              - asc
              - desc
        required:
          - field
          - sort
      x-tags:
        - Listagem
      x-examples:
        Exemplo:
          - field: id
            sort: asc
    AvailableFilters:
      title: Filtros Disponíveis
      type: array
      description: Um array com os campos disponíveis para utilizaçao como filtro na listagem dos recursos
      items:
        type: string
      x-tags:
        - Listagem
      x-examples:
        Exemplo:
          - id
          - external_id
    AppliedFilters:
      title: Filtros Aplicados
      type: array
      description: Array contendo os filtros aplicados na consulta
      items:
        type: object
        properties:
          field:
            type: string
            description: Campo
          like:
            type: string
            description: Filtro
        required:
          - field
          - like
      x-examples:
        Exemplo:
          - field: external_id
            like: '111'
      x-tags:
        - Listagem
    ApprovalProfile:
      description: Modelo do cadastro de perfis de aprovação
      type: object
      title: Perfil de Aprovação
      x-tags:
        - Perfil de Aprovação
      properties:
        id:
          type: string
          minLength: 1
          description: Id do perfil de aprovação
          readOnly: true
        external_id:
          type: string
          description: Identificação externa
        title:
          type: string
          minLength: 1
          description: Título do registro
        description:
          type: string
          minLength: 1
          description: Descrição do registro
        active:
          description: Indica se o registro está ativo
          type: boolean
        minimum:
          type: string
          minLength: 0
          description: Valor mínimo para aprovação
        maximum:
          type: string
          minLength: 1
          description: Valor máximo do perfil de aprovação
          readOnly: true
        customer_id:
          type: string
          minLength: 1
          description: Código da empresa no Bitize
          readOnly: true
        company_id:
          type: string
          description: Código da filial no Bitize
        currency_id:
          type: string
          minLength: 1
          default: BRL
          description: Código da Moeda
        created_at:
          type: string
          minLength: 1
          format: date-time
          readOnly: true
        updated_at:
          type: string
          minLength: 1
          format: date-time
          readOnly: true
        deleted_at:
          type: string
          minLength: 1
          format: date-time
          readOnly: true
      required:
        - title
        - description
        - maximum
  securitySchemes:
    Access Token:
      type: http
      scheme: bearer
      description: ''
  parameters:
    Sort:
      name: sort
      in: query
      schema:
        type: string
        example: sort=id-asc
      description: 'Ordenação. Exemplo: sort=title-desc,external_id'
    Content-Type:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        default: application/json
        enum:
          - application/json
      description: Tipo de conteúdo
  responses:
    '400':
      description: 'Bad Request: Significa que o servidor não entendeu a requisição pois está com uma sintaxe inválida.'
      content:
        application/json:
          schema:
            $ref: ./Error.v1.yaml
          examples: {}
    '401':
      description: 'Unauthorized: O cliente deve se autenticar para obter a resposta solicitada.'
      content:
        application/json:
          schema:
            $ref: ./Error.v1.yaml
    '403':
      description: 'Forbidden: O cliente não tem direitos de acesso ao conteúdo portanto o servidor está rejeitando dar a resposta.'
      content:
        application/json:
          schema:
            properties:
              id:
                type: string
    '404':
      description: 'Not Found: O servidor não pode encontrar o recurso solicitado.'
      content:
        application/json:
          schema:
            properties:
              id:
                type: string
tags:
  - name: fornecedores
  - name: autenticação
  - name: Usuários
  - name: Autenticação
  - name: Fornecedores
  - name: Perfil de Aprovação
security:
  - Token: []
