openapi: 3.0.0
info:
  title: Bitize
  version: '1.0'
  contact:
    name: Carlos Tirabassi
    email: carlos@bitize.com.br
  description: API de integração com o backend do Bitize
servers:
  - url: 'https://api.bitize.com.br'
    description: Produção
  - url: 'https://api-tst.bitize.com.br'
    description: Testes
paths:
  /auth:
    get:
      summary: Autenticação
      tags:
        - refresh token
        - login
        - auth
        - autenticação
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: Token de acesso
                  refresh_token:
                    type: string
                    description: Refresh token
                  expiration_access_token:
                    type: string
                    description: Data de expiração do token de acesso
                  expiration_refresh_token:
                    type: string
                    description: Data de expiração do refresh token
              examples:
                Exemplo de retorno:
                  value:
                    access_token: eyJhbGcFOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyApZCI6IjI1NGJjMGU4LWU5NTMtNDRkZS05ZTUELTI0YWNiYTM1MDAyZiIsImlhdCI6MTYBMTk1MjI1OSwiZXhwIjoxNjEyMDM4NjU5fQ.hQL7SANKEVjepTgoPaBk6h0vZLOdu4tnVC6BIa3gQO0
                    refresh_token: eyJhbGcAOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJAZCI6IjI1NGJjMGU4LWU5NTMtNDRkZS05ZTUDLTa0YWNiYTM1MDAyZiIsImlhdCI6MXYxMTk1MjI1OSwiZXhwIjoxNjEyMTI1MDU5fQ.KdCuLqxBFxNaXwHgfjmyWd8X6BTAcpbCoCuRcnRGBxg
                    expiration_access_token: '2021-01-30T20:30:59.058Z'
                    expiration_refresh_token: '2021-01-31T20:30:59.058Z'
      operationId: get-signin
      description: Endpoint para obtenção de um novo token através de um refresh token válido
      parameters:
        - schema:
            type: string
          in: query
          name: refresh_token
          description: Refresh token
          required: true
      security: []
    post:
      summary: Autenticação
      operationId: post-signin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: Token de acesso
                  refresh_token:
                    type: string
                    description: Refresh token
                  expiration_access_token:
                    type: string
                    description: Data de expiração do token de acesso
                  expiration_refresh_token:
                    type: string
                    description: Data de expiração do refresh token
              examples:
                Exemplo de retorno:
                  value:
                    access_token: eyJhbGcFOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyApZCI6IjI1NGJjMGU4LWU5NTMtNDRkZS05ZTUELTI0YWNiYTM1MDAyZiIsImlhdCI6MTYBMTk1MjI1OSwiZXhwIjoxNjEyMDM4NjU5fQ.hQL7SANKEVjepTgoPaBk6h0vZLOdu4tnVC6BIa3gQO0
                    refresh_token: eyJhbGcAOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJAZCI6IjI1NGJjMGU4LWU5NTMtNDRkZS05ZTUDLTa0YWNiYTM1MDAyZiIsImlhdCI6MXYxMTk1MjI1OSwiZXhwIjoxNjEyMTI1MDU5fQ.KdCuLqxBFxNaXwHgfjmyWd8X6BTAcpbCoCuRcnRGBxg
                    expiration_access_token: '2021-01-30T20:30:59.058Z'
                    expiration_refresh_token: '2021-01-31T20:30:59.058Z'
      description: Endpoint para obtenção do token de acesso a API
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                consumer_key:
                  type: string
                  description: Chave de consumo do API
                secret_key:
                  type: string
                  description: Chave secreta de acesso a API
              required:
                - consumer_key
                - secret_key
            examples:
              example-1:
                value:
                  consumer_key: string
                  secret_key: string
      tags:
        - auth
        - login
        - autenticação
        - token
      parameters:
        - schema:
            type: string
            default: application/json
          in: header
          name: Content-Type
          required: true
      security: []
    parameters: []
  '/vendors/{id}':
    get:
      summary: Fornecedores
      tags:
        - vendors
        - fornecedores
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  paging:
                    type: object
                    properties:
                      limit:
                        type: number
                      page:
                        type: number
                      pages:
                        type: number
                      total:
                        type: number
                  sort:
                    type: array
                    items:
                      type: object
                  available_filters:
                    type: array
                    items:
                      type: object
                  applied_filters:
                    type: object
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          minLength: 1
                        external_id: {}
                        active:
                          type: boolean
                        notes: {}
                        created_at:
                          type: string
                          minLength: 1
                        updated_at:
                          type: string
                          minLength: 1
                        deleted_at: {}
                        company_id:
                          type: string
                          minLength: 1
                        customer_id:
                          type: string
                          minLength: 1
                        company:
                          type: object
                          properties:
                            id:
                              type: string
                              minLength: 1
                            name:
                              type: string
                              minLength: 1
                            company_name:
                              type: string
                            external_id: {}
                            national_document:
                              type: string
                              minLength: 1
                            state_document: {}
                            municipal_document: {}
                            country_id:
                              type: string
                              minLength: 1
                            state_iso:
                              type: string
                              minLength: 1
                            active:
                              type: boolean
                            situation:
                              type: string
                              minLength: 1
                            situation_date:
                              type: string
                              minLength: 1
                            opening:
                              type: string
                              minLength: 1
                            portuguese_description: {}
                            english_description: {}
                            spanish_description: {}
                            keywords: {}
                            localizable:
                              type: boolean
                            homologation_level:
                              type: string
                              minLength: 1
                            main_activity_code:
                              type: string
                              minLength: 1
                            main_activity:
                              type: string
                              minLength: 1
                            date_special_situation:
                              type: string
                              minLength: 1
                            special_situation:
                              type: string
                            last_update:
                              type: string
                              minLength: 1
                            logo_id:
                              type: string
                              minLength: 1
                            status:
                              type: string
                              minLength: 1
                            person:
                              type: string
                              minLength: 1
                            created_at:
                              type: string
                              minLength: 1
                            updated_at:
                              type: string
                              minLength: 1
                            deleted_at: {}
                            addresses:
                              type: array
                              uniqueItems: true
                              minItems: 1
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    minLength: 1
                                  external_id: {}
                                  type:
                                    type: string
                                    minLength: 1
                                  country_id:
                                    type: string
                                    minLength: 1
                                  postal_code:
                                    type: string
                                    minLength: 1
                                  state_iso:
                                    type: string
                                    minLength: 1
                                  city:
                                    type: string
                                    minLength: 1
                                  ibge:
                                    type: string
                                    minLength: 1
                                  neighborhood:
                                    type: string
                                    minLength: 1
                                  street:
                                    type: string
                                    minLength: 1
                                  number:
                                    type: string
                                    minLength: 1
                                  complement:
                                    type: string
                                  notes: {}
                                  created_at:
                                    type: string
                                    minLength: 1
                                  updated_at:
                                    type: string
                                    minLength: 1
                                  deleted_at: {}
                                  company_id:
                                    type: string
                                    minLength: 1
                                required:
                                  - id
                                  - type
                                  - country_id
                                  - postal_code
                                  - state_iso
                                  - city
                                  - ibge
                                  - neighborhood
                                  - street
                                  - number
                                  - complement
                                  - created_at
                                  - updated_at
                                  - company_id
                            contacts:
                              type: array
                              uniqueItems: true
                              minItems: 1
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    minLength: 1
                                  external_id: {}
                                  type:
                                    type: string
                                    minLength: 1
                                  title:
                                    type: string
                                    minLength: 1
                                  country_area_code:
                                    type: string
                                    minLength: 1
                                  phone:
                                    type: string
                                    minLength: 1
                                  extension: {}
                                  email:
                                    type: string
                                    minLength: 1
                                  notes: {}
                                  created_at:
                                    type: string
                                    minLength: 1
                                  updated_at:
                                    type: string
                                    minLength: 1
                                  deleted_at: {}
                                  company_id:
                                    type: string
                                    minLength: 1
                                required:
                                  - id
                                  - type
                                  - title
                                  - country_area_code
                                  - phone
                                  - email
                                  - created_at
                                  - updated_at
                                  - company_id
      operationId: get-vendors
      description: Lista os fornecedores cadastrados
      security:
        - Token: []
    parameters:
      - schema:
          type: string
        name: id
        in: path
        description: ID do Fornecedor
components:
  schemas: {}
  securitySchemes:
    Token:
      type: http
      scheme: bearer
tags:
  - name: auth
  - name: login
  - name: autenticação
  - name: token
  - name: refresh token
  - name: vendors
  - name: fornecedores
security:
  - Token: []
